

<!-- <h3 class="text-primary text-center">Add New Course</h3><br>

<div class="container p-3 w-50">
<form>
      
    <div class="mb-3">
        <label for="id"  style="color:rgb(28, 15, 211); width: 50ppx;">Student Id</label>
        <input type="text" placeholder="Enter Id"
         [(ngModel)]="newCourse.id" class="form-control" name="id" id="id">
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Student Name</label>
        <input type="text" [(ngModel)]="newCourse.title" class="form-control" name="title" id="title" >
    </div>
     
    <div class="mb-3">
        <label for="title" class="form-label">Course Name</label>
        <input type="text" [(ngModel)]="newCourse.title" class="form-control" name="title" id="title" >
    </div> -->


    <!-- <div class="mb-3">
        <label for="description" class="form-label">Student Email</label>
        <input type="text" [(ngModel)]="newCourse.description" class="form-control" name="description" 
        id="description" >
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Student Number</label>
        <input type="text" [(ngModel)]="newCourse.description" class="form-control" name="description" id="description" >
    </div> -->

    <!-- <div class="container text-center">
        <button class="btn btn-success" (click)="createCourse()">Create Course</button> 
    
    </div> -->


   
    <h3 class="text-danger text-center " style="font-style: italic;">"With free online courses, there’s no limit 
      to what you can achieve. Register now and take no charge of your learning journey!"



    </h3><br>
    <div class="container p-3 w-50">
      <form>
        <!-- <div class="mb-3">
          <label for="id" class="form-label" style="font-size: x-large;">Student Id</label>
          <input type="text" [(ngModel)]="newCourse.id" class="form-control" name="id" id="id">
        </div> -->
        <div class="mb-3">
          <label for="title" class="form-label" style="font-size: x-large;">Student Name</label>
          <input type="text" [(ngModel)]="newCourse.title"  class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label" style="font-size: x-large;">Course Name</label>
          <input type="text" [(ngModel)]="newCourse.name" class="form-control" name="Name" id="Name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label" style="font-size: x-large;"> Email</label>
          <input type="text" [(ngModel)]="newCourse.email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
          <label for="num" class="form-label"  style="font-size: x-large;">Contact Number</label>
          <input type="text" [(ngModel)]="newCourse.num" class="form-control" name="num" id="num">
        </div>
        <div class="text-center">
          <button class="btn btn-success" (click)="createCourse()">Create Course</button>
        </div>
      </form>
    </div>
    


 <!-- <button type="button " class="cancelbtn">Cancel</button> -->
              <!-- <button type="submit" class="signupbtn">Sign Up</button> -->
              <!-- <button class="btn btn-success" (click)="createCourse()">Submit</button>  -->
            
            <!-- <div class="container text-center">
                <button class="btn btn-success" (click)="createCourse()">Create Course</button> 
             -->
<!--              
                <button class= "btn btn-primary" (click)="updateCourse()">Update Course</button>  -->