<body>
    <br>
<h2 style="color: rgb(52, 55, 105);">JavaScript Course and Certification</h2> <br> 
<h4 style="color: rgb(13, 13, 14); border: 0cap;">JavaScript is widely recognized as a 
    highly valued  programming language in modern times. <br>Learning JavaScript skills will lead 
    to plenty of  promising professional prospects <br>in the fields of front-end, back-end, 
    and full-stack development. <br>This inclusive free Javascript course caters to those new to 
     the subject to enhance their <br> JavaScript proficiency at no cost.</h4>
     <br>
     <h2 style="color: rgb(52, 55, 105);">JavaScript Course Overview</h2> <br><br>
    
     <h4 style="color: rgb(13, 13, 14); border: 0cap;">This course gets you started with an introduction to JavaScript.
        <br> It assumes that you're new to the language, so it gets you started with basic 
        <br>functionality such as creating functions, creating variables, and calling these lines
        <br> of code from your standard HTML pages.</h4>
      <br>
     <!-- <h2 style="color: rgb(187, 9, 9);">JavaScript Certification Key Features</h2> <br>
     
     <ul>
        <li style="color: rgb(6, 6, 86);font-weight: bold; ">Hands-on coding and implementation of two web-based projects</li>
        <li style="color: rgb(6, 6, 86);font-weight: bold; ">build interactive web pages, and work with popular JavaScript libraries and frameworks</li>
        <li style="color: rgb(6, 6, 86);font-weight: bold; ">Flexibility to choose classes</li>
        <li style="color: rgb(6, 6, 86);font-weight: bold;  ">Lifetime access to self-paced learning</li>
        <li style="color: rgb(6, 6, 86);font-weight: bold; ">Learn how to write JavaScript code</li>
    </ul> -->
    <br>
    <h2 style="color: rgb(52, 55, 105);" >Benefits</h2>
    <br>
    <h4 style="color: rgb(13, 13, 14); border: 0cap;">Java is the most popular programming language and works across 
    all computer <br>
         and mobile platforms without needing to be recompiled.<br> It is one of the top-paying jobs 
         in software development, The one with the <br> Java certification can expect to earn an average of $102,000 per year.</h4>

         <br> <br> <br>
    


    <button [routerLink]="['javascript']" click="load5()">Java-Script </button>
</body>