<!-- 
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGWwE4HTQX63tn28inuMepXAb5PloiSqHdmw&s"
 style="width: 1800px; height: 700px; display: flex;opacity:0.8; padding:5px;  ;
 padding:10px;">
  -->
 <body>

 <h2 style="color: rgb(52, 55, 105);">Java Course and Certification</h2> <br>
<h4 style="color: rgb(13, 13, 14); border: 0cap;">From Basics to Brilliance: <br> Explore Our Java Course
Our comprehensive Java course and certification program offers <br> 
 a deep dive into the language's fundamentals and advanced features.<br>
  Elevate your career and stand out in the competitive tech landscape <br>
   with our Java course and certification the key to unlocking endless possibilities <br>
    in the realm of programming.</h4>
 <br>
    <h2 style="color: rgb(52, 55, 105);">Java Course Overview</h2><br>
    <h4 style="color: rgb(13, 13, 14); border: 0cap;">This advanced Java Certification Training
       is designed to guide you through<br> the concepts of Java from 
 introductory techniques to advanced programming skills. <br>This Java course will also provide you with the knowledge
  of <br>Core Java 8, operators, arrays, loops, methods, and constructors while giving you<br> hands-on experience in JDBC and JUnit 
 framework.</h4>
 <br>
 
<!-- <h2 style="color: rgb(187, 9, 9); ">Java Training Key Features</h2><br>
<ul>
    <li style="color: rgb(6, 6, 86);font-weight: bold; ">Hands-on coding and implementation of two web-based projects</li>
    <li style="color: rgb(6, 6, 86);font-weight: bold; ">35 coding-related exercises on Core Java 8</li>
    <li style="color: rgb(6, 6, 86);font-weight: bold; ">Flexibility to choose classes</li>
    <li style="color: rgb(6, 6, 86);font-weight: bold;  ">Lifetime access to self-paced learning</li>
    <li style="color: rgb(6, 6, 86);font-weight: bold; ">Includes Hibernate and Spring frameworks</li>
</ul> -->
<h2 style="color: rgb(52, 55, 105);">Benefits</h2>
<h4 style="color: rgb(13, 13, 14); border: 0cap;">Java is the most popular programming language and works across all<br>
    computer and mobile platforms without needing to be recompiled. <br>It is one of the top-paying jobs in
     software development, <br>The one with the Java certification can expect to earn an average of $102,000 per year.</h4>
<br>

<button [routerLink]="['java']" (click) ="load()"></button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
</body>