<marquee  style="background-color: rgb(150, 152, 179); color: rgb(226, 230, 226); font-size: 
larger;
text-transform: none; padding: 10px; font-style: italic; border: auto;
 text-decoration: solid; font-weight: bolder; font-style: oblique;
  font-size: larger; font-size: xx-large;"> Free Online
Programming Languages Courses and Certifications Provide from "CodeMasters Academy" </marquee>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(237, 228, 240); color: white ;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]= "['courses/home']"style="color: rgb(7,7,7);font-weight: bold; font-size: 1.5rem;">Home</a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['courses/coursedata']" style="color: rgb(7, 7, 7);font-weight: bold; font-size: 1.5rem;">Courses</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['courses/create']" style="color: rgb(7, 7, 7);font-weight: 
          bold; font-size: 1.5rem; ">Registration</a>
        </li>
        
        
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]= "['courses/edit/:id']" style="color: white;">updateCourse</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['courses/delet']" style="color: white;">deleteCourse</a>
        </li> -->
      
        <!-- <li class="nav-item">
          <a class="nav-link"  [routerLink]= "['courses/view']" style="color: white; font-weight: bold; font-size: 1.5rem;">View

          </a>
        </li> -->
       
        <li class="nav-item">
          <a class="nav-link"  [routerLink]= "['courses/Certification']" style="color: rgb(7, 7, 7); font-weight: bold;
           font-size: 1.5rem;">Certification

          </a>
        </li>
       
        
      
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">deleteCourse</a></li>
            <li><a class="dropdown-item" href="#">updateCourse</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
    

        <li class="nav-item">
          <a class="nav-link"  [routerLink]= "['courses/about']" style="color: rgb(7, 7, 7); font-weight: bold;
           font-size: 1.5rem;">About

          </a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
 <br> 

 


 <!-- <a class="mx-2" [routerLink]="['school']">school</a> <br>  -->
    
   
 

 
 <router-outlet></router-outlet> 
 <!-- <a routerLink="/courses/create" routerLinkActive="active"><span class="text-black" 
  style="font-size: 30px;">Create new course</span></a>

   -->
  <!-- <a routerLink="/courses" routerLinkActive="active" ><span class="text-black" style="font-size: 30px;">Show all courses list</span></a>........ -->

   
 
<!-- 
 <div class="container text-danger bg-info">
<h1 style="text-overflow: clip;">Welcome to the courses website</h1><br> -->

<!-- <nav>
  <a routerLink="/courses" routerLinkActive="active" ><span class="text-black" style="font-size: 30px;">Show all courses list</span></a>........
   
</nav> -->



<br><br>





