
<div> 
<br> 
<body style="background-color:  rgb(131, 111, 111);">
<h1 style="border: 0cap; color: white; text-align: center ;;
 background-color: rgb(131, 111, 111);"> <br> 
    Explore computer programming courses </h1><br> <br>
     <br> 
     
   <br>
   

     <div class="center-container">

      <div class="id"> 
         <button type="button" class="btn btn-light" (click)="load()"><div class="course-card">
            <img src="https://images.pexels.com/photos/11035360/pexels-photo-11035360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Database" class="course-img">
            <div class="course-info">
              <h3>Java</h3>
              <p>Boost your backend skills with learn java technologies technologies.</p>
            </div>
          </div>
          </button> 
          
         
            <button type="button" class="btn btn-light" (click)="load1()"><div class="course-card">
               <img src="https://images.pexels.com/photos/11035474/pexels-photo-11035474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Database" class="course-img">
               <div class="course-info">
                 <h3>Python</h3>
                 <p>Boost your backend skills with learn python technologies.</p>
               </div>
             </div>
      
         </button> 
          

         <button type="button" class="btn btn-light" (click)="load5()"><div class="course-card">
            <img src="https://images.pexels.com/photos/3995717/pexels-photo-3995717.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="Database" class="course-img">
            <div class="course-info">
              <h3>Java-Script</h3>
              <p>Boost your backend skills with learn JavaScript technologies.</p>
            </div>
          </div>
         
         </button>

          <button type="button" class="btn btn-light" (click)="load4()"><div class="course-card">
            <img src="https://images.pexels.com/photos/11035543/pexels-photo-11035543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Database" class="course-img">
            <div class="course-info">
              <h3>Angular</h3>
              <p>Boost your backend skills with learn Angular technologies.</p>
            </div>
          </div>
          </button>

          <!-- <button type="button" class="btn btn-light" (click)="load4()">
            <img src="https://images.pexels.com/photos/16380905/pexels-photo-16380905/free-photo-of-webpage-of-ai-chatbot-a-prototype-ai-smith-open-chatbot-is-seen-on-the-website-of-openai-on-a-apple-smartphone-examples-capabilities-and-limitations-are-shown.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Database" class="course-img">
            <div class="course-info">
              <h3>Machine Learning</h3>
              <p>Boost your backend skills with learn Machine Learning technologies.</p>
            </div>
         

          </button>
         -->
          
            <button type="button" class="btn btn-light" (click)="load3()"><div class="course-card">
               <img src="https://images.pexels.com/photos/11035386/pexels-photo-11035386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Database" class="course-img">
               <div class="course-info">
                 <h3>mysql</h3>
                 <p>Boost your Database
                   skills with learn mysql technologies.</p>
               </div>
             </div>
             </button>
          


      
         </div>
      
     </div>
    
   <br>
   <br>
   <br>
   <br>
  
      
   <br>
   <br>
   <br>
   <br>
  
   <br>
   <br>
   <br>
   <br>
   
</body>
</div>